[run]
branch = True
parallel = True
source = src/eegproc
omit =
    src/eegproc/__init__.py
    src/eegproc/**/__init__.py
    */tests/*
    */.venv/*
    */venv/*
    */site-packages/*

[report]
show_missing = True
skip_covered = True
fail_under = 80
omit =
    src/eegproc/__init__.py
    src/eegproc/**/__init__.py
    */tests/*
    */.venv/*
    */venv/*
    */site-packages/*
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:

[html]
directory = htmlcov
